:root {
  --blue: #009cfc;
  --lightgray: #282a31;
  --darkgray: #1c1d22;
  --golden: #ffcc02;
}

#nav {
  background-color: var(--blue);
  height: 6vh;
  display: flex;
  align-items: center;
}

.firmenname {
  color: white;
  font-size: xx-large;
  font-weight: 600;
  margin-bottom: 0.5rem;
  flex: 1; 
  text-align: start;
}

.hautseiteLink, .ueberUnsLink {
  font-weight: 600;
  font-size: larger;
  margin-bottom: 0.1rem;
  text-align: start;
}
