:root {
  --blue: #009cfc;
  --lightgray: #282a31;
  --darkgray: #1c1d22;
  --golden: #ffcc02;
}

#nav {
  background-color: var(--blue);
  height: 6vh;
}

.firmenname {
  color: white;
  font-size: xx-large;
  margin-left: -18rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: start;
}

.hautseiteLink {
  font-weight: 600;
  font-size: larger;
  margin-bottom: 0.1rem;
  text-align: start;
  margin-left: 25rem;
}

.ueberUnsLink {
  font-weight: 600;
  font-size: larger;
  margin-bottom: 0.1rem;
  text-align: start;
  margin-left: 4rem;
}
