.container-nav .nav-link {
  color: white;
}

:root {
  --blue: #009cfc;
  --lightgray: #282a31;
  --darkgray: #1c1d22;
  --golden: #ffcc02;
}

.container-nav {
  background-color: var(--blue);
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.firmenname {
  font-size: 5em;
  font-weight: 600;
  flex: 1; 
  text-align: start;
}

.hautseiteLink, .ueberUnsLink {
  font-weight: 600;
  font-size: larger;
  margin-bottom: 0.1rem;
  text-align: start;
}
