* {
  box-sizing: border-box;
}

.karten {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 0 auto;
  margin-left: 2rem;
  align-items: center;
  justify-content: space-around;
}

.karten-item {
  display: inline;
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
  margin-bottom: 20px;
}
