.karten {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 0 auto;
  justify-content: center;
}

.karten-item {
  flex: 0 0 calc(12.5% - 10px);
  margin-right: 20px;
  background-color: gray;
  min-width: 200px;
  margin-bottom: 20px;
}
